*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
 .nav {
    width:86%;
    display:flex;
    margin:auto;
    padding:15px 0;
    align-content: center;
    justify-content: space-between;
}
ul li{
    list-style:none;
    display: inline-block;
    padding:10px 10px;
 }
 
 ul li a{
     font-size:16px;
     text-decoration:none;
     color: white;
 }
 
.header .nav a{
   text-decoration: none;
   
   color: rgb(9, 8, 8);
}
.nav ul li a:hover{
    transition: all 0.8s;
    color: aqua;
}

 .id1{
    
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    border: 5px;
    border-color: aqua;
    font-weight: bolder;
    
}
.header .id1 h1:hover{
    transition: all 0.8s;
    color: rgb(39, 232, 158);
}
.header .id1 h3:hover{
    transition: all 0.8s;
    color: rgb(21, 221, 51);
}
.id1 h1{
    color: rgb(252, 249, 249);

}
.id1 h2{
    color: rgb(10, 10, 10);

    }
    .id1 h3{
        color: rgb(246, 243, 243);
    
    }
    .id1 h4{
        color: rgb(14, 13, 13);
    
    }

#main1{
    background-size: cover;
    background-image: url(/portofolioimages/imagesbf.png);
    
}
.footer {
    position: fixed;
    
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

 #main2{
    background-size: cover;
    background-image: url(/portofolioimages/main2.jpg);
    
}
.id2{
    color: rgb(244, 7, 7);
    margin-top: 300px;
    margin-left: 100px;
    margin-bottom: 150px;
    border: 5px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.id2 h1{
    color: rgb(11, 11, 11);

}
.id2 h2{
    color: rgb(11, 11, 11);

}
.image2{
    width:30%;
    height:60%;
    position:absolute;
    right:100px;
    bottom:0;
    border: green 5px;

}

.image2 img{
    position:absolute;
    width:280px;
    height:280px;
    left:-30px;
    bottom: 300px;
    margin-right: 200px;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 90px;
}





.image4{
    width:30%;
    height:60%;
    position:absolute;
    right:100px;
    bottom:0;
    border: green 5px;

}

.image4 img{
    position:absolute;
    width:280px;
    height:280px;
    left:-1px;
    bottom: 80px;
    margin-right: 200px;
    
    border-radius: 90px;
} 
#main3{
    background-size: cover;
    background-image: url(/portofolioimages/study.jpg);
}
.id3{
    
    color: rgb(11, 11, 11);
    margin-top: 110px;
    margin-left: 400px;
    margin-bottom: 90px;
    border: 5px;
    font-weight: bolder;
    
}
.id4{
    color: rgb(11, 11, 11);
    margin-top: 100px;
    margin-left: 100px;
    border: 5px;
    
    font-weight: bolder;
}
.id5{
    color: rgb(7, 7, 7);
    margin-top: 100px;
    margin-bottom: 90px;
    margin-left: 250px;
    border: 5px;
    
    font-weight: bolder;
}
.image5{
    width:30%;
    height:60%;
    position:absolute;
    right:100px;
    bottom:0;
    border: green 5px;

}
.image5 img{
    position:absolute;
    width:280px;
    height:280px;
    left:-5px;
    bottom: 100px;
    margin-right: 200px;
}
#main4{
    background-size: cover;
    background-image: url(/portofolioimages/conti.jpg);
}
.id6{
    color: rgb(7, 7, 7);
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 90px;
    border: 5px;
    font-weight: bolder;
}
.id5 h2{
    color: rgb(233, 12, 12);

}
.id6 h2{
    color: rgb(233, 12, 163);

}